<div class="login-box">
    <div class="text-center facebook-btn">
        <button type="button" class="btn btn-fb"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
    </div><br>
    <div class="text-center google-btn">
        <button type="button" class="btn btn-gplus"><i class="fab fa-google-plus-g pr-1"></i> Google </button>
    </div><br>
    <h2>Connexion</h2>
    <form>
      <div class="form-group user-box">
        <input type="text" name="" required="">
        <label>Matricule</label>
      </div>
      <div class="user-box">
        <input  type="password"  name="" required="">
        <label>Mot de passe</label>
      </div>
      <button class="btn btn-primary btn-login">Se Connecter</button>
      <div class="container">
        <span class="psw"><a href="">Mot de passe oublié?</a></span>
      </div>
    </form>
</div>